<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 container-prueba">
      <a class="titulo-desarrollador">Product Owner</a>
      <p class="texto-referencias">El Dueño de Producto es responsable de maximizar el retorno de inversión (ROI) a base de identificar las funcionalidades de producto, trasladarlas a una lista priorizada, decidir cuáles deberían estar al principio de la lista para el siguiente Sprint, y repriorizar y refinar continuamente dicha lista. El Dueño de Producto es responsable a nivel ganancias y pérdidas del producto, asumiendo que se trata de un producto comercial.</p>
      <p class="texto-referencias">En algunos casos el Dueño de Producto y el cliente son la misma persona; esto es frecuente en el caso de desarrollos internos. En otros, “el cliente” pueden ser millones de personas con necesidades muy variadas, en cuyo caso en muchas organizaciones el rol del Poduct Owner es similar al de Product Manager (Director de Producto) o Product Marketing Manager (Director de Marketing de Producto). Sin embargo, el rol del Dueño de Producto es algo distinto del Product Manager tradicional, ya que interactúa de forma activa y regular con el Equipo, prioriza trabajando con todos los stakeholders y revisa los resultados de cada Sprint, en lugar de delegar las decisiones de desarrollo a un Jefe de Proyecto.</p>
      <ol class="texto-referencias">
        <li>Visión.- Establece el objetivo a través de un deseo a cumplir</li>
        <li>Representa a los patrocinadores (Stakeholders)</li>
        <li>Descubre y aprueba el PBI y conoce el valor de negocio de cada item</li>
        <li>Toma en cuenta el retorno de inversión</li>
        <li>Triunfa o falla rápido</li>
      </ol>
    </div>
    <div class="col-lg-4 container-prueba">
      <a class="titulo-desarrollador">Scrum Master</a>
      <p class="texto-referencias">El ScrumMaster ayuda al área de producto a aprender y aplicar Scrum para obtener valor de negocio. El ScrumMaster hace todo lo que esté en su mano para ayudar al Equipo, al Dueño de Producto y a la organización a tener éxito. El ScrumMaster no es el jefe de los miembros del Equipo, como tampoco es un jefe de proyecto, líder de equipo o representante del equipo. En su lugar, el ScrumMaster sirve al Equipo; ayuda a eliminar impedimentos, protege al Equipo de interferencias externas y les ayuda a adoptar prácticas de desarrollo modernas. El o ella forma, entrena y guía al Dueño de Producto, al Equipo y al resto de la organización en el uso correcto de Scrum.</p>
      <p class="texto-referencias">El ScrumMaster es un coach y un formador. El ScrumMaster se asegura de que todo el mundo (incluidos el Dueño de Producto y los gerentes) comprenden los principios y las prácticas de Scrum, y ayudan a guiar a la organización a través de los habitualmente difíciles cambios que son necesarios para lograr el éxito en el desarrollo Ágil.</p>
      <ol class="texto-referencias">
        <li>Coach (facilitador)</li>
        <li>Establece los calendarios y agendas</li>
        <li>Guía al equipo a la identificación de entregables</li>
        <li>Facilita la comunicación con el Product Owner</li>
        <li>Responsable de corregir problemas o impedimentos</li>
      </ol>
    </div>
    <div class="col-lg-4 container-prueba">
      <a class="titulo-desarrollador">Scrum Team</a>
      <p class="texto-referencias">El Equipo (también llamado Equipo de Desarrollo) construye lo que el Dueño de Producto indica: por ejemplo, una aplicación o un sitio Web. El Equipo en Scrum es “cross-funcional” – engloba toda la experiencia y conocimiento necesarios para desarrollar un producto potencialmente entregable en cada Sprint – y es “auto-organizado” (auto-gestionado), con un amplio margen de autonomía y responsabilidad. El Equipo decide cuántos elementos (del conjunto que ofrece el Dueño de Producto) va a desarrollar durante el Sprint y cuál es la mejor manera de lograr dicho objetivo.</p>
      <p class="texto-referencias">Cada miembro del Equipo es simplemente un miembro de equipo. Nótese que no hay títulos fijos especializados en un grupo que adopta Scrum: no hay analistas de negocio, administradores de bases de datos, arquitectos, líderes de equipo, diseñadores / especialistas en UX, programadores… Los miembros del Equipo trabajan juntos durante cada Sprint de cualquier manera que sea apropiada para lograr el objetivo que se han marcado ellos mismos.</p>
      <ol class="texto-referencias">
        <li>Auto organizado</li>
        <li>Cross functional</li>
        <li>Colabora y comparte el conocimiento</li>
        <li>Estimados de trabajo</li>
        <li>De 3 a 9 miembros</li>
      </ol>
    </div>
  </div>
</div>
