<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Estilos de Arquitectura de Software</a>
      <p class="texto-referencias">
        Un «estilo» de arquitectura es un conjunto de decisiones de diseño arquitectural
        que son aplicables en un contexto de desarrollo específico, restringen las decisiones de diseño de un sistema a
        ese contexto y plantean como objetivo ciertas cualidades para el sistema resultante.
        <br>
        Establecen un vocabulario común, donde se dan nombres a los componentes y conectores así como a los elementos de
        datos Establecen un conjunto de reglas de configuración, como la topología del sistema Definen una semántica
        para las reglas de composición de los elementos Posibilitan el análisis de los sistemas construidos sobre el
        estilo.
      </p>
    </div>
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Estilos arquitecturales</a>
      <div class="row">
        <div class="col-lg-4 texto-referencias">
          <strong>Influencia por los lenguajes de Programacion</strong>
          <li>Poegramacion estructurada.</li>
          <li>Orientada a objetos.</li>
          <strong>Capas</strong>
          <li>Maquinas Virtuales</li>
          <li>Cliente Servidor</li>
          <li>n-Tier</li>
          <li>Peer-to-Peer</li>
        </div>
        <div class="col-lg-4 texto-referencias">
          <strong>Flujo de Datos</strong>
          <li>Batch</li>
          <li>Pipes and filters</li>
          <strong>Memoria compartida</strong>
          <li>Backboard</li>
          <li>Rule Based</li>
          <strong>Invocacion Implicita</strong>
          <li>Evend-based</li>
          <li>Publisher-suscriber</li>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Patrones de arquitecturas de software</a>
      <p class="texto-referencias">Un Patrón de Arquitectura de Software es un conjunto de decisiones de diseño que se pueden aplicar a un
        problema de diseño recurrente y que pueden parametrizarse para diferentes contextos donde ese problema de diseño
        aparece.
      </p>
      <div class="row">
        <div class="col-lg-5 texto-referencias">
          <li>Estructuras</li>
          <li>Capas</li>
          <li>Pipes and filters</li>
          <li>Blackboard</li>
          <li>Sistemas iterativos</li>
          <li>Model-view Controller</li>
        </div>
        <div class="col-lg-5 texto-referencias">
          <li>Presentation-abstraction-communication</li>
          <li>Sistemas distribuidos</li>
          <li>Broker</li>
          <li>Trader</li>
          <li>Sistemas adaptables</li>
          <li>Reflection</li>
        </div>
      </div>


    </div>
    <div class="col-lg-6 container-prueba">
      <a class="titulo-desarrollador">Diferencia entre "estilo" y "patron" de software</a>
      <p class="texto-referencias">
        Entonces, ¿Cuál es la diferencia entre un estilo y un patrón de Arquitectura de software?. Un patrón es una
        solución prediseñada para un problema que puede aplicarse en cualquier contexto donde se presente el problema.
        Un estilo es un modelo conceptual que define un vocabulario común. algunas decisiones de diseño arquitectural
        pueden actuar al mismo tiempo como estilos y patrones.
        <br>
        ¿Cuál es la diferencia entre un Patrón de Diseño y un Patrón Arquitectural? Un patrón arquitectural expresa un
        esquema de organización estructural fundamental de un sistema mientras que un patrón de diseño provee un esquema
        para refinar los subsistemas o componentes de un sistema y las relaciones entre ellos.
      </p>
    </div>
  </div>
</div>
